@charset 'utf-8';

@import "settings";
@import "foundation";
@import "motion-ui";

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-range-input;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

.profile-image {
    border-radius: 50%;
    max-width: 335px;
    height: 335px;
    margin-right: auto !important;
    margin-left: auto !important;
}

.grid-container {
    padding: 3rem 1.5rem;
}

.profile-header {
    font-size: 38px;
    font-weight: 900;
    line-height: 46px;
    letter-spacing: 0.05em;
}

.subheading {
    font-family: Caveat, sans-serif;
    font-size: 1.5rem !important;
}

.socials {
    width: 100%;
    margin-bottom: 1rem !important;

    a {
        color: #fff !important;
        font-size: 2rem;
    }
}

.call-to-action {
    a > .button {
        background-color: $black !important;
    }
}

.projects {
    margin-top: 3rem;
}

.card {
    background-color: #212529 !important;
    border: $light-gray;
}

.card-banner {
    padding: 1.5rem 0;
    background: #6c757d !important;
}

.card-header {
    font-weight: bold;
    text-transform: capitalize;

    a {
        color: $white;
    }
}

.card-description {
    color: $dark-gray;
}

.footer {
    margin-top: 2rem;
    color: $light-gray;
    text-align: center;
}
